@media only screen and (max-width: 780px) {
  #hero{
  	height: 70vh;
  }
  .section-title{
  	width: auto;
  }
  .row  img{
  	width: 19rem !important;
    height: 26rem !important;
}
.skill-icon img{
	width: 4rem !important;
	height: 4rem !important;
}
.row{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}
.container{
	width: 100%;
}
}